<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm6hqYIOTnzMmdueB6hw6qMdgDxLRobG4</string>
	<key>GCM_SENDER_ID</key>
	<string>22112560211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-e4bd5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-e4bd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22112560211:ios:4a79813734db476cb792a6</string>
</dict>
</plist>